Chapter 10/TimeReport/WebUIProjects/WebUI/Web References/TimeReportWebService/TimeReport.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:i1="http://tempuri.org/dsOngoingReports.xsd" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://msdotnet.nu/WebService/TimeReport/TimeReportService" xmlns:i3="http://tempuri.org/dsWeekReports.xsd" xmlns:i2="http://tempuri.org/dsProjects.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:i0="http://tempuri.org/TimeReport.xsd" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://msdotnet.nu/WebService/TimeReport/TimeReportService" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <import namespace="http://tempuri.org/TimeReport.xsd" location="http://localhost/TimeReportWS/TimeReportWebServiceProjects_WebService/TimeReport.asmx?schema=dsTimeReport" />
  <import namespace="http://tempuri.org/dsOngoingReports.xsd" location="http://localhost/TimeReportWS/TimeReportWebServiceProjects_WebService/TimeReport.asmx?schema=dsOngoingReports" />
  <import namespace="http://tempuri.org/dsProjects.xsd" location="http://localhost/TimeReportWS/TimeReportWebServiceProjects_WebService/TimeReport.asmx?schema=dsProjects" />
  <import namespace="http://tempuri.org/dsWeekReports.xsd" location="http://localhost/TimeReportWS/TimeReportWebServiceProjects_WebService/TimeReport.asmx?schema=dsWeekReports" />
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://msdotnet.nu/WebService/TimeReport/TimeReportService">
      <s:import namespace="http://tempuri.org/TimeReport.xsd" />
      <s:import namespace="http://tempuri.org/dsOngoingReports.xsd" />
      <s:import namespace="http://tempuri.org/dsProjects.xsd" />
      <s:import namespace="http://tempuri.org/dsWeekReports.xsd" />
      <s:element name="SaveTimeReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/TimeReport.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveTimeReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveTimeReportResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTimeReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="WeekNo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTimeReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTimeReportResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/TimeReport.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOngoingReports">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOngoingReportsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOngoingReportsResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/dsOngoingReports.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllProjects">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllProjectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllProjectsResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/dsProjects.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailableWeekReports">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailableWeekReportsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAvailableWeekReportsResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/dsWeekReports.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="SaveTimeReportSoapIn">
    <part name="parameters" element="s0:SaveTimeReport" />
  </message>
  <message name="SaveTimeReportSoapOut">
    <part name="parameters" element="s0:SaveTimeReportResponse" />
  </message>
  <message name="GetTimeReportSoapIn">
    <part name="parameters" element="s0:GetTimeReport" />
  </message>
  <message name="GetTimeReportSoapOut">
    <part name="parameters" element="s0:GetTimeReportResponse" />
  </message>
  <message name="GetOngoingReportsSoapIn">
    <part name="parameters" element="s0:GetOngoingReports" />
  </message>
  <message name="GetOngoingReportsSoapOut">
    <part name="parameters" element="s0:GetOngoingReportsResponse" />
  </message>
  <message name="GetAllProjectsSoapIn">
    <part name="parameters" element="s0:GetAllProjects" />
  </message>
  <message name="GetAllProjectsSoapOut">
    <part name="parameters" element="s0:GetAllProjectsResponse" />
  </message>
  <message name="GetAvailableWeekReportsSoapIn">
    <part name="parameters" element="s0:GetAvailableWeekReports" />
  </message>
  <message name="GetAvailableWeekReportsSoapOut">
    <part name="parameters" element="s0:GetAvailableWeekReportsResponse" />
  </message>
  <portType name="TimeReportWSSoap">
    <operation name="SaveTimeReport">
      <documentation>Saves a timereport</documentation>
      <input message="s0:SaveTimeReportSoapIn" />
      <output message="s0:SaveTimeReportSoapOut" />
    </operation>
    <operation name="GetTimeReport">
      <documentation>Gets a timereport</documentation>
      <input message="s0:GetTimeReportSoapIn" />
      <output message="s0:GetTimeReportSoapOut" />
    </operation>
    <operation name="GetOngoingReports">
      <documentation>Gets all ongoing reports for a specific user</documentation>
      <input message="s0:GetOngoingReportsSoapIn" />
      <output message="s0:GetOngoingReportsSoapOut" />
    </operation>
    <operation name="GetAllProjects">
      <documentation>Gets all projects for a specific user</documentation>
      <input message="s0:GetAllProjectsSoapIn" />
      <output message="s0:GetAllProjectsSoapOut" />
    </operation>
    <operation name="GetAvailableWeekReports">
      <documentation>Gets all available weekreports for a specific user</documentation>
      <input message="s0:GetAvailableWeekReportsSoapIn" />
      <output message="s0:GetAvailableWeekReportsSoapOut" />
    </operation>
  </portType>
  <binding name="TimeReportWSSoap" type="s0:TimeReportWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="SaveTimeReport">
      <soap:operation soapAction="http://msdotnet.nu/WebService/TimeReport/TimeReportService/SaveTimeReport" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetTimeReport">
      <soap:operation soapAction="http://msdotnet.nu/WebService/TimeReport/TimeReportService/GetTimeReport" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetOngoingReports">
      <soap:operation soapAction="http://msdotnet.nu/WebService/TimeReport/TimeReportService/GetOngoingReports" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetAllProjects">
      <soap:operation soapAction="http://msdotnet.nu/WebService/TimeReport/TimeReportService/GetAllProjects" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetAvailableWeekReports">
      <soap:operation soapAction="http://msdotnet.nu/WebService/TimeReport/TimeReportService/GetAvailableWeekReports" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="TimeReportWS">
    <port name="TimeReportWSSoap" binding="s0:TimeReportWSSoap">
      <soap:address location="http://localhost/TimeReportWS/TimeReportWebServiceProjects_WebService/TimeReport.asmx" />
    </port>
  </service>
</definitions>